* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-right {
    display: flex;
    align-items: center;
}

.sign-in {
    margin-right: 15px;
    color: black;
    text-decoration: none;
}

.sign-up {
    background: #3f52ff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-text {
    max-width: 50%;
}

.breadcrumb {
    color: blue;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

.hero p {
    margin: 10px 0;
}

.job-button {
    background: #3f5bd9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 0.14cm;
}

.app-promo {
    background-position: center;
    display: flex;
    background: #3f5bd9;
    color: white;
    padding: 40px;
    align-items: center;
    border-radius: 20px;
    height: 325px;
    width: 1500px;
    padding-left: 20px;
}

.app-image img {
    width: 250px;
    align-items: baseline;
}

.app-text {
    margin-left: 50px;
    margin-right: 100px;
}

.highlight {
    color: #ffc902;
    font-weight: bold;
    padding-top: 50%;
}

.download-text{
    font-size: larger;
    font-weight: lighter;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.input-container input {
    width: 100%;
    padding: 12px 120px 12px 25px; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-container .send-link {
    position: absolute;
    right: 0.5%;
    top: 5%;
    bottom: 5%;
    background: #2e51ff;
    color: white;
    border: 1cm;
    border-radius: 5%;
    border-color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
}

.send-link {
    background: #2e51ff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.input-container input:focus + .send-link {
    outline: 2px solid #002984;
}

.app-store-links img {
    width: 120px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 0.2cm;
    display: flexbox;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f1f1f1;
    font-size: 16px;
    color: #333;
    padding-bottom: 25px;
}
