body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    border-bottom: 2px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.sign-up {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    margin-top: 40px;
    text-align: left;
    padding-left: 5cm;
}

.highlight {
    color: #6c63ff;
}

.highlight-green {
    color: #28a745;
}

.broker-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.broker-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.blue-bg {
    background: #d0dbff;
}

.orange-bg {
    background: #ffe3b9;
}

.broker-details {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.rating {
    font-size: 18px;
}

.free-ac {
    font-size: 16px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.open-ac {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

.learn-more {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

.broker-info {
    flex: 1;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    
}

.charges {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    flex: 1;
    text-align: left;
    padding: 20px;
}

.broker-logo {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.broker-logo img {
    width: 100px;
}
